{% load static %} <!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Error Page </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
      <li> &nbsp; / &nbsp; </li>
    <li class="active">Error</li>
  </ol>
</div>
{% block title %}Error Details {% endblock title %}

 {% block content %}

     <table>
         <tr>
             <td colspan="2"> {{ message }} </td>
         </tr>
     </table>
     {% csrf_token %}
     </form>
 {% endblock content %}