{% extends 'HomeSite/index.html' %}
{% load static %}

    {% block content %}
        <center>
                    <embed src="{% static 'ArcheryClubWaiver.pdf' %}" width="700" height="400" type="application/pdf">
         <div class="box">
            <form action="" class="form" method="post">
              <h2>Waiver Agreement</h2>
              <div class="input-group">
                <label for="{{ waiver_form.archeryClubWaiverSignedDate.id_for_label }}">Date</label>
                {{ waiver_form.archeryClubWaiverSignedDate }}
              </div>
              <div class="input-group">
                <label for="{{ waiver_form.archeryClubWaiverSignedInitials.id_for_label }}">Initials</label>
                {{ waiver_form.archeryClubWaiverSignedInitials }}
              </div>
              <div class="input-group">
                <label for="{{ waiver_form.archeryClubWaiverSigned.id_for_label }}">I agree</label>
                {{ waiver_form.archeryClubWaiverSigned }}
              </div>
              {% csrf_token %}
              <input type="submit" value="Check In" class="submit-btn">
            </form>
        </div>
        </center>

    {% endblock content %}