<!DOCTYPE html>
<html lang="en">
  {% extends "Registration/registration.html" %}
<body>
  <div class="login-wrapper">
    <form action="registration2.html" class="form">
      <img src="{% static 'img/avatar.png' %}" alt="">
      <h2>Login</h2>
      
      <p>Select a membership type</p> </br>
        <input type="radio" name = memb value="Family"> Family</br></br>
        <input type="radio" name = "memb" value="Single"> Single</br></br>
      
      <div class="input-group">
        <input type="text" name="loginUser" id="loginUser" required>
        <label for="loginUser">Create Username</label>
      </div>
      <div class="input-group">
        <input type="password" name="loginPassword" id="loginPassword" required>
        <label for="loginPassword">Create Password</label>
      </div>
      <input type="submit" value="Submit" class="submit-btn">

      <a href="{% url 'signIn' %}" class="forgot-pw">Already have an account</a>
    </form>

  </div>
</body>
</html>