{% extends "Registration/registration.html" %}
{% load static %}


{% block registration %}
  <div class="login-wrapper">

    <form action="{% url 'registerptwo' %}" class="form" method="post">
      <img src="{% static 'img/avatar.png' %}" alt="">
      <h2>Login</h2>
      
      <div class="input-group">
        {{ form.fname }}
        <label for="{{ form.fname.id_for_label }}">First Name</label>
      </div>
      <div class="input-group">
        {{ form.mid_initial}}
        <label for="{{ form.mid_initial.id_for_label }}">Middle Initial</label>
      </div>
      <div class="input-group">
        {{ form.lname }}
        <label for="{{ form.lname.id_for_label }}">Last Name</label>
      </div>
      <div class="input-group">
        {{ form.gender }}
        <label for="{{ form.gender.id_for_label }}">Gender</label>
      </div>
      <div class="input-group">
        {{ form.bday }}
        <label for="{{ form.bday.id_for_label }}">Birthday</label>
      </div>
      <div class="input-group">
        {{ form.street }}
        <label for="{{ form.street.id_for_label }}">Street</label>
      </div>
      <div class="input-group">
        {{ form.city }}
        <label for="{{ form.city.id_for_label }}">City</label>
      </div>
      <div class="input-group">
        {{ form.state }}
        <label for="{{ form.state.id_for_label }}">State</label>
      </div>

      {% csrf_token %}
      <input type="submit" value="Submit" class="submit-btn">

      <a href="{% url 'signIn' %}" class="forgot-pw">Already have an account</a>
    </form>

  </div>
{% endblock registration %}