{% extends 'HomeSite/index.html' %}
{% load static %}

  {% block content %}
<div style="text-align:center;">

    <div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

      <form action="{% url 'register' %}" class="form" method="post">
        {% csrf_token %}

        {% if user_form.errors  %}
          {% for field in user_form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in user_form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% elif extended_user_form.errors %}
          {% for field in extended_user_form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in extended_user_form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}

        <h2>Registration</h2>
        <!-- User Form        -->
        <div class="input-group">
          {% if form.errors %}
            <p>{{ form.username.errors.as_text }}</p>
          {% endif %}

          <label for="{{ user_form.username.id_for_label }}" class="">Username</label>
          {{ user_form.username }}
        </div>
        <div class="input-group">
          <label for="{{ user_form.password1.id_for_label }}">Password</label>
          {{ user_form.password1 }}
        </div>
        <div class="input-group">
          <label for="{{ user_form.password2.id_for_label }}">Re-enter password</label>
          {{ user_form.password2 }}
        </div>
        <div class="input-group">
          <label for="{{ user_form.email.id_for_label }}">Email</label>
          {{ user_form.email }}
        </div>

          <div class="input-group">
          <label for="{{ extended_user_form.fname.id_for_label }}">First Name</label>
          {{ extended_user_form.fname }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.mid_initial.id_for_label }}">Middle Initial</label>
          {{ extended_user_form.mid_initial}}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.lname.id_for_label }}">Last Name</label>
          {{ extended_user_form.lname }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.phonenumber.id_for_label }}">Phone Number</label>
          {{ extended_user_form.phonenumber }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.gender.id_for_label }}">Gender</label>
          {{ extended_user_form.gender }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.bday.id_for_label }}">Birthday</label>
          {{ extended_user_form.bday }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.membershipType.id_for_label }}">Membership Type</label>
          {{ extended_user_form.membershipType }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.street.id_for_label }}">Street</label>
          {{ extended_user_form.street }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.city.id_for_label }}">City</label>
          {{ extended_user_form.city }}
        </div>
        <div class="input-group">
          <label for="{{ extended_user_form.state.id_for_label }}">State</label>
          {{ extended_user_form.state }}
        </div>
          </br>
           </br>
        <a href="{% url 'signIn' %}" class="forgot-pw">Already have an account</a>
          </br>
        <input type="submit" value="Submit" class="submit-btn">
        <p>Please note that your application will have to be approved by an officer.</p>


        <script>
        function formatPhoneNumber(value) {
          if (!value) return value;
          const phoneNumber = value.replace(/[^\d]/g, '');
          const phoneNumberLength = phoneNumber.length;
          if (phoneNumberLength < 4) return phoneNumber;
          if (phoneNumberLength < 7) {
            return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3)}`;
          }
          return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(
            3,
            6
          )}-${phoneNumber.slice(6, 9)}`;
        }

        function phoneNumberFormatter() {
          const inputField = document.getElementById('id_phonenumber');
          const formattedInputValue = formatPhoneNumber(inputField.value);
          inputField.value = formattedInputValue;
        }
        </script>
      </form>
    </div>
  </div>




  {% endblock content %}