{% extends "HomeSite/index.html" %}
{% block content %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <h4>Activities</h4>
      <p>The club does not provide any equipment for members to use but can provide advice on acquiring archery equipment.  The club teaches several Intro to Archery classes each year, for an additional fee, which allows members and prospective members to try out new bows and equipment. </p>
      <p>The club hosts weekly (more or less) shoots when the weather is nice, where participants may keep score (although keeping score is not required).  Participants have the option to include their personal best scores in the display cabinet at the range.  Some find it enjoyable to keep score and track their progress.  There are usually between 3 and 10 participants in the weekly shoots, so it's not crowded.</p>
      <p>The club hosts an annual picnic in September.  Kids (and adults) shoot balloons and swinging targets, and share food and comradery.</p>

      </p>
      <p class="dark">
        Willowsford Archery Range is open from dawn-to-dusk to WAC Members, all year around.  It has targets at 10, 20, 30, 40, and 60 yards, with shooting positions under a pavilion roof, along with some picnic tables.  Pictures of the range and additional information can be found on the <a href="https://www.facebook.com/groups/willowsfordarcheryclub/ ">WAC FaceBook Page</a>
        <br><br>
        When visiting the range, use the WAC app to digitally sign the log book [GMU team to provide instructions on how to use the app to sign the log book, here]

      </p>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>Purpose</h3>
        <ol>
          <li>Promotes the sport of archery in Willowsford</li>
          <li>Provides a safe place for residents to shoot</li>
          <li>Encourages social interaction and strengthen social relationships among participants</li>
        </ol>
      </div>
    </aside>
  </div>
</section>

<!-- <section id="newsletter">
  <div class="container">
    <h1>Join Our Facebook Page</h1>
    <form action="https://www.facebook.com/groups/willowsfordarcheryclub/">
      <input type="email" placeholder="Enter Email...">
      <button type="submit" class="button_1">Join Now</button>
    </form>
  </div>
</section> -->

<section id="boxes">
  <div class="container">
    <h2>Some Range Features</h2>
    <div class="box">
      <h3>10 Lanes (60 Yards)</h3>
    </div>
    <div class="box">
      <h3>Archery Classes</h3>
    </div>
    <div class="box">
      <h3>Crossbows, compound, and recurve bows</h3>
    </div>
  </div>
</section>
{% endblock content %}
