{% load static %}
<!DOCTYPE html>
<html>
  {% block head %}
  <head>

    <title>Acme Web Design | Welcome</title>

    <title>Willowsford Archery Club</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>
  {% endblock head %}
  <body>
    {% block header %}
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Willowsford</span> Archery Club</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Membership</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'dashboard' %}">{{ request.user.useraccount.fname }}'s Dashboard</a></li>
              {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
              {% endif %}
              <li><a href="{% url 'signout' %}">Signout</a></li>
            {% else %}
              <li><a href="{% url 'signIn' %}">Sign In</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    {% endblock header %}

    {% block content %}
    <section id="showcase">
      <div class="container">



        <h1></h1>

        <p></p>

      </div>

              <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext"><!--pic1--></div>
    <img src="{% static 'acme/img/WAC1.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"><!--pic2--></div>
    <img src="{% static 'acme/img/WAC2.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"><!--pic3--></div>
    <img src="{% static 'acme/img/WAC3.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"><!--pic3--></div>
    <img src="{% static 'acme/img/WAC4.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"><!--pic3--></div>
    <img src="{% static 'acme/img/WAC5.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"><!--pic3--></div>
    <img src="{% static 'acme/img/WAC6.jpg' %}" style="width:100%">
    <div class="text"><!--Caption Text--></div>
  </div>

  <!-- Next and previous buttons -->
  <!-- if this is uncommented then remove the automatic slide change or it will break the slideshow -->
<!--  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--  <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
<!--</div>-->


<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
</div>
      <script>
              let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3500); // Change image every 3.5 seconds
}
      </script>


    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Join Our Facebook Page</h1>
        <form action="https://www.facebook.com/groups/willowsfordarcheryclub/">
          <!-- <input type="email" placeholder="Enter Email..."> -->
          <button type="submit" class="button_1">Join the Club Now</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <h1>Purpose of Willowsford Archery Club</h1>
        <p>The Willowsford Archery Club (WAC) is a non-profit organization that: </p>
        <div class="box">
<!--          <img src="{% static 'acme/img/logo_html.png' %}">-->
          <h3>Promotes the sport of archery in Willowsford</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p> -->
        </div>
        <div class="box">
<!--          <img src="{% static 'acme/img/logo_css.png' %}">-->
          <h3>Provides a safe place for residents to shoot</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p> -->
        </div>
        <div class="box">
<!--          <img src="{% static 'acme/img/logo_brush.png' %}">-->
          <h3>Encourages social interaction and strengthens social relationships among participants.</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p> -->
        </div>
      </div>
    </section>
    {% endblock content %}
    {% block footer %}
    <footer>
      <p>Willowsford Conservancy | willowsfordarcheryclub@gmail.com
      </p>
    </footer>
    {% endblock footer %}

  </body>
</html>
