{% extends "HomeSite/index.html" %}
{% block content %}

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Membership Types</h1>
            <b>*Please note that only Willowsford Residents and Willowsford Conservancy employees can be a member of the Willowsford Archery Range</b>
          <ul id="services">
            <li>
              <h3>Individual Membership</h3>
              <p>This membership allows the member to visit the range individually and bring guests (e.g., spouse, children, friends)</p>
						  <p>Price: $70</p>
            </li>
            <li>
              <h3>Household Membership</h3>
              <p>This membership allows all adults (18+) in the household to visit the range individually and bring guests (e.g., spouse, children, friends)</p>
						  <p>Price: $85</p>
            </li>
            <li>
              <h3>Volunteer Discount</h3>
              <p>For every hour a WAC member works as a volunteer to support the WAC, that member’s dues for the following year are reduced by $10/hour, up to four (4) hours / $40.  There are many volunteer opportunities each year.  
              [Add instructions for how to apply for a membership (using the app) and for how returning members can pay their annual dues.]
              </p>
						  <p>Price: Varies</p>
            </li>
          </ul>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Have A Question?</h3>
            <form class="quote">
  						<div>
  							<label>Name</label><br>
  							<input type="text" placeholder="{{ UserAccount.fname }}">
  						</div>
  						<div>
  							<label>Email</label><br>
  							<input type="email" placeholder="Email Address">
  						</div>
  						<div>
  							<label>Message</label><br>
  							<textarea placeholder="Message"></textarea>
  						</div>
  						<button class="button_1" type="submit">Send</button>
					</form>
          </div>
        </aside>
      </div>
    </section>
{% endblock content %}


