<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="" rel="">
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class ="navbar-brand" href="#"> Willowsford Scoring Application</a>
</nav>

  <div class="container-fluid">
    <div class="row">
        <div class ="col-md-6" style="margin: 1rem auto 0 auto;">
            <div class="card">
                <div class="card-body">
                    <!doctype html>
                  

                    <form class="myForm" method = "POST" action ="">
                      {% csrf_token %} 
                        <fieldset id="shooter_Name">
                          <label for="customer_name"> Shooter's Name </label>
                          <input type="text" name="shooter_name" id="shooter_name" required>

                          <label for="shooter_Signature"> Shooter's Signature </label>
                          <input type="text" name="shooter_Signature" id="shooter_Signature">
                      
                          <label for="witness_Name"> Witness's Name </label>
                          <input type="text" name="witness_name" id="witness_name">
                      
                          <label for="witness_Signature"> Witness's Signature </label>
                          <input type="text" name="witness_signature" id="witness_signature">
                        </fieldset>
                        
                        <fieldset id="shooting_Style">
                          <legend>Shooting Style?</legend>
                          <label> <input type="radio" name="shootStylePick" id="rec_lb_no_sight" required value="car"> Recurve or longbow with no sights.  Finger release only - no mechanical release. </label>
                          <label> <input type="radio" name="shootStylePick" id="rec_lb_with_sight" required value="van"> Recurve or longbow with sights.  Finger release only - no mechanical release. </label>
                          <label> <input type="radio" name="shootStylePick" id="rec_lb_with_sight_mech_rel" required value="tuktuk"> Recurve or longbow with sights and mechanical release. </label>
                          <label> <input type="radio" name="shootStylePick" id="comp_bow_stand_w_no_ext" required value="tuktuk"> Compound bow, standing with no external rest </label>
                        </fieldset>
                    
                        <fieldset id="shoot_Date">
                          <label for="shoot_Date"> Date </label>
                          <input type="datetime-local" name="shoot_date" id="shoot_date" required>
                        </fieldset>
                      
                        <fieldset id="shoot_Distance">
                          <label for="shoot_Distance"> Distance (Yards) </label>
                          <select name="pickup_place" id="pickup_place">
                            <option value="" selected="selected">Select One </option>
                            <option value="office" > The Willowsford </option>
                            <option value="town_hall" > 10 Yards </option>
                            <option value="telepathy" > 20 Yards </option>
                            <option value="telepathy" > 30 Yards </option>
                            <option value="telepathy" > 40 Yards </option>
                            <option value="telepathy" > 50 Yards </option>
                          </select>
                        </fieldset>
                        
                      
<!--
                <fieldset id = "roundTest"> 
                  <table class = "table">
                    <tr>
                      <td>
                        <label for="roundOne"> Round One </label>
                      </td>
                          <td> {{ form.r1n1 }} </td>
                          <td> {{ form.r1n2 }} </td>
                          <td> {{ form.r1n3 }} </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="roundTwo"> Round Two </label>
                      </td>
                          <td> {{ form.r1n1 }} </td>
                          <td> {{ form.r1n2 }} </td>
                          <td> {{ form.r1n3 }} </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="roundThree"> Round Three </label>
                      </td>
                          <td> {{ form.r1n1 }} </td>
                          <td> {{ form.r1n2 }} </td>
                          <td> {{ form.r1n3 }} </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="submit" class="btn btn-primary" value="Submit"></td>
                  </tr>
                    </fieldset>
                  
                  <tr>
                    <td>  Total: </td>
                    <td>{{ form.result }} </td>
                  </tr>
                </table>
                -->
</form>
    <form class ="myForm" action="" method="post">
    {% csrf_token %}
     <table class="table">
      <tr>
        <td>
          <label for="roundOne"> Round 1 </label>
        </td>
            <td> <p> Cumulative Score </p>{{ form.round1 }} </td>
            <td> {{ form.r1n1 }} </td>
            <td> {{ form.r1n2 }} </td>
            <td> {{ form.r1n3 }} </td>
            
      </tr>
      <tr>
        <td>
          <label for="roundTwo"> Round 2 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round2 }} </td>
            <td> {{ form.r2n1 }} </td>
            <td> {{ form.r2n2 }} </td>
            <td> {{ form.r2n3 }} </td>
            
      </tr>
      <tr>
        <td>
          <label for="roundThree"> Round 3 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round3 }} </td>
            <td> {{ form.r3n1 }} </td>
            <td> {{ form.r3n2 }} </td>
            <td> {{ form.r3n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundFour"> Round 4 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round4 }} </td>
            <td> {{ form.r4n1 }} </td>
            <td> {{ form.r4n2 }} </td>
            <td> {{ form.r4n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundFive"> Round 5 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round5 }} </td>
            <td> {{ form.r5n1 }} </td>
            <td> {{ form.r5n2 }} </td>
            <td> {{ form.r5n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundSix"> Round 6 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round6 }} </td>
            <td> {{ form.r6n1 }} </td>
            <td> {{ form.r6n2 }} </td>
            <td> {{ form.r6n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundSeven"> Round 7 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round7 }} </td>
            <td> {{ form.r7n1 }} </td>
            <td> {{ form.r7n2 }} </td>
            <td> {{ form.r7n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundEight"> Round 8 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round8 }} </td>
            <td> {{ form.r8n1 }} </td>
            <td> {{ form.r8n2 }} </td>
            <td> {{ form.r8n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundNine"> Round 9 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round9 }} </td>
            <td> {{ form.r9n1 }} </td>
            <td> {{ form.r9n2 }} </td>
            <td> {{ form.r9n3 }} </td>
      </tr>
      <tr>
        <td>
          <label for="roundTen"> Round 10 </label>
        </td>
            <td> <p> Cumulative Score </p> {{ form.round10 }} </td>
            <td> {{ form.r10n1 }} </td>
            <td> {{ form.r10n2 }} </td>
            <td> {{ form.r10n3 }} </td>
      </tr>





    
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" class="btn btn-primary" value="Submit"></td>
    </tr>
    <tr>
        <td> Total Score: </td>
        <td>{{ form.result }} </td>
    </tr>
</table>

              </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

<style>


  .myForm {
    display: grid;
    grid-template-areas: 
      "shooter_Name shooting_Style"
      "shoot_Date shoot_Distance"
      "shoot_Sign shoot_Sign shoot_Sign"
      "roundOne roundTwo" ;
  	grid-template-columns: auto auto;  
  	grid-template-rows: auto auto auto auto;
    grid-gap: .8em .5em;
    background: #eee;
    padding: 1.2em;
  }
  .myForm textarea {
    height: calc(100% - 1.5em);
    }
  .myForm button {
    background: gray;
    color: white;
    padding: 1em;
    }
  .myForm input:not([type=radio]):not([type=checkbox]), 
  .myForm textarea, 
  .myForm select {
   	width: 100%;
    border: 0;
    padding: 1em;
    margin: .5em 0;
  }
  .myForm label {
   display: block; 
  }
  fieldset {
    border: 0;
  }
  #customer {
    grid-area: customer;
  }
  #taxi {
    grid-area: taxi;
  }
  #extras {
    grid-area: extras;
  }
  #pickup {
    grid-area: pickup;
  }
  #dropoff {
    grid-area: dropoff;
  }
  #instructions {
    grid-area: instructions;
  }
  #submit {
    grid-area: submit;
  }