<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Grid CSS -->
    <link href="" rel=""
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class ="navbar-brand" href="#"> Willowsford Scoring Application</a>

    </nav>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <div class="container-fluid">
        <div class="row">
            <div class ="col-md-6" style="margin: 1rem auto 0 auto;">
                <div class="card">
                    <div class="card-body">
                        <!doctype html>
<title>Example</title>
<style>
  * {
    box-sizing: border-box;
  }
  .myForm {
    display: grid;
    grid-template-areas: 
      "customer taxi"
      "customer extras"
      "pickup dropoff"
      "instructions instructions"
      "submit submit";
  	grid-template-columns: auto auto;  
  	grid-template-rows: auto auto auto auto;
    grid-gap: .8em .5em;
    background: #eee;
    padding: 1.2em;
  }
  .myForm textarea {
    height: calc(100% - 1.5em);
    }
  .myForm button {
    background: gray;
    color: white;
    padding: 1em;
    }
  .myForm input:not([type=radio]):not([type=checkbox]), 
  .myForm textarea, 
  .myForm select {
   	width: 100%;
    border: 0;
    padding: 1em;
    margin: .5em 0;
  }
  .myForm label {
   display: block; 
  }
  fieldset {
    border: 0;
  }
  #customer {
    grid-area: customer;
  }
  #taxi {
    grid-area: taxi;
  }
  #extras {
    grid-area: extras;
  }
  #pickup {
    grid-area: pickup;
  }
  #dropoff {
    grid-area: dropoff;
  }
  #instructions {
    grid-area: instructions;
  }
  #submit {
    grid-area: submit;
  }
</style>

<form class="myForm" method = "POST" action ="receiveInput">
  {% csrf_token %}
  <fieldset id="shooter_Name">
    <label for="customer_name"> Shooter's Name </label>
    <input type="text" name="shooter_name" id="shooter_name" required>

    <label for="witness_Name"> Witness's Name </label>
    <input type="text" name="witness_name" id="witness_name">

    <label for="witness_Signature"> Witness's Signature (Initials) </label>
    <input type="text" name="witness_signature" id="witness_signature">
  </fieldset>
  <fieldset id="taxi">
    <legend>Shooting Style?</legend>
    <label> <input type="radio" name="shootStylePick" id="rec_lb_no_sight" required value="car"> Recurve or longbow with no sights.  Finger release only - no mechanical release. </label>
    <label> <input type="radio" name="shootStylePick" id="rec_lb_with_sight" required value="van"> Recurve or longbow with sights.  Finger release only - no mechanical release. </label>
    <label> <input type="radio" name="shootStylePick" id="rec_lb_with_sight_mech_rel" required value="tuktuk"> Recurve or longbow with sights and mechanical release. </label>
    <label> <input type="radio" name="shootStylePick" id="comp_bow_stand_w_no_ext" required value="tuktuk"> Compound bow, standing with no external rest </label>

  </fieldset>

  <fieldset id="shoot_Date">
    <label for="shoot_Date"> Date </label>
    <input type="datetime-local" name="shoot_date" id="shoot_date" required>
  </fieldset>

  <fieldset id="dropoff">
    <label for="pickup_place"> Shooting Distance (Yards) </label>
    <select name="pickup_place" id="pickup_place">
      <option value="" selected="selected">Select One </option>
      <option value="office" > The Willowsford </option>
      <option value="town_hall" > 10 Yards </option>
      <option value="telepathy" > 20 Yards </option>
      <option value="telepathy" > 30 Yards </option>
      <option value="telepathy" > 40 Yards </option>
      <option value="telepathy" > 50 Yards </option>
    </select>
  </fieldset>
  
  <fieldset id="instructions">
    <label for="comments"> Additional Notes / Shooter's Signature</label>
    <textarea name="comments" id="comments" maxlength="500"></textarea>
    <input type ="submit" class="btn btn-primary">
  </fieldset>

  
   <!-- Grid CSS 
  <fieldset id="extras">
    <legend>Extras</legend>
    <label> <input type="checkbox" name="extras" id="extras_baby" value="baby"> Baby Seat </label>
    <label> <input type="checkbox" name="extras" id="extras_wheel" value="wheelchair"> Wheelchair Access </label>
    <label> <input type="checkbox" name="extras" id="extras_tip" value="tip"> Stock Tip </label>
  </fieldset>
-->
</form>

<form>

  <form method = "GET" action="calculateScore">

  <p> Please enter your score for round 1</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r1_1">
      <input type="search" class="form-control" name ="query" id="r1_2">
      <input type="search" class="form-control" name ="query" id="r1_3">
      <input type ="submit" class="btn btn-primary">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 2</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r2_1">
      <input type="search" class="form-control" name ="query" id="r2_2">
      <input type="search" class="form-control" name ="query" id="r2_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 3</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r3_1">
      <input type="search" class="form-control" name ="query" id="r3_2">
      <input type="search" class="form-control" name ="query" id="r3_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 4</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r4_1">
      <input type="search" class="form-control" name ="query" id="r4_2">
      <input type="search" class="form-control" name ="query" id="r4_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 5</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r5_1">
      <input type="search" class="form-control" name ="query" id="r5_2">
      <input type="search" class="form-control" name ="query" id="r5_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 6</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r6_1">
      <input type="search" class="form-control" name ="query" id="r6_2">
      <input type="search" class="form-control" name ="query" id="r6_3">
 
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 7</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r7_1">
      <input type="search" class="form-control" name ="query" id="r7_2">
      <input type="search" class="form-control" name ="query" id="r7_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 8</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r8_1">
      <input type="search" class="form-control" name ="query" id="r8_2">
      <input type="search" class="form-control" name ="query" id="r8_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 9</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r9_1">
      <input type="search" class="form-control" name ="query" id="r9_2">
      <input type="search" class="form-control" name ="query" id="r9_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
</form>
<form>
  <form method = "GET" action="#">
  <p> Please enter your score for round 10</p>
  <div class="form-group">
      <input type="search" class="form-control" name ="query" id="r10_1">
      <input type="search" class="form-control" name ="query" id="r10_2">
      <input type="search" class="form-control" name ="query" id="r10_3">
  
  <input type="reset" class="btn btn-primary">
  </div>
   <!--
  <h2>Finalize your scores?</h2>
  <div style="text-align:center"> 
      <input type ="submit" class="btn btn-primary">
  </div>
  -->

</form>
                            
                            


                    </div>
                </div>
            </div>
        </div>
    </div>
    
</html>