{% extends 'MemberManagement/dashboard.html' %}
{% load static %}

{% block content %}
<body>
    <h2> Statements for {{ request.user.useraccount.fname }} {{ request.user.useraccount.lname }}</h2>
    <p> Last membership renewal date: {{ waiver_date }} <br> Volunteer hours since last renewal: {{ volunteer_sum }} </p>
    <div class="">
        <table class="table">
        <tr class="table-header">
            <td> Statement ID </td>
            <td> Bill Date </td>
            <td> Due Date </td>
            <td> Paid </td>
            <td> Amount Due </td>
        </tr>
    {% for statement in statements %}
        <tr class="active">
            <td> {{statement.statement_id}}</td>
            <td> {{statement.bill_date}} </td>
            <td> {{statement.due_date}}</td>
            <td> {{statement.paid}}</td>
            <td> {{statement.amount_due}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

    {% block footer %}
    {% endblock footer %}
</body>
{% endblock content %}
